@import "../../style/templates.scss";

main {
  width: 100%;
}

main div.f-block {
  width: 100%;
  height: 119px;
  background: #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main div.f-block form {
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main div.f-block form input[type="date"] {
  width: 185px;
  height: 55px;
  flex-shrink: 0;
  background-color: $text-color;
  padding: 13px;
  color: #00000080;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  outline: none;
  border-radius: 10px;
}
::-webkit-calendar-picker-indicator {
  color: $background-color;
  background-color: $text-color;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

main div.f-block form select {
  width: 180px;
  height: 55px;
  flex-shrink: 0;
  padding: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: relative;
  outline: none;
  border: none;
  border-radius: 10px;
}

main div.f-block form button.check-a {
  width: 200px;
  height: 55px;
  @include buttons;
}

main div.s-block {
  position: relative;
  display: inline-block;
  width: 100%;
}

main div.s-block div.welcome {
  height: 790px;
  flex-shrink: 0;
  background: linear-gradient(
      0deg,
      rgba(7, 7, 7, 0.22) 0%,
      rgba(7, 7, 7, 0.22) 100%
    ),
    url(../../background/welcome.png), lightgray 50%;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main div.s-block div.welcome div h1 {
  color: $text-color;
  font-family: Segoe UI;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main div.s-block div.welcome div p {
  color: $text-color;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

main div.s-block div.welcome button {
  @include buttons;
  font-size: 24px;
  font-weight: 500;
  padding: 24px 130px;
}

main div.s-block div.welcome div {
  display: block;
  height: 128px;
  margin-bottom: 40px;
}
main div.s-block div.facilities {
  background-color: $text-color;
  position: relative;
  z-index: 1;
  top: -145px;
  margin: auto;
  width: 1319px;
  height: 289px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 180px;
  border-radius: 10px;
}

main div.s-block div.facilities h1 {
  color: #957554;
  font-family: inherit;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

main div.s-block div.facilities ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main div.s-block div.facilities ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div.s-block div.facilities ul li p {
  color: #957554;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}

main div.th-block {
  margin: 56px auto 53px;
  width: 1319px;
}

main div.th-block h1.rooms-rates {
  color: #957554;
  font-family: inherit;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 53px;
}

main div.th-block div.flex-rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

main div.th-block div.flex-rooms a {
  width: 630px;
  height: 500px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
}

main div.th-block div.flex-rooms a:nth-child(1) {
  @include rooms;
  background-image: url(../../background/first.png);
}

main div.th-block div.flex-rooms a:nth-child(2) {
  border-radius: 10px;
  @include rooms;
  margin: 0 0 58px 60px;
  background-image: url(../../background/second.png);
}

main div.th-block div.flex-rooms a:nth-child(3) {
  @include rooms;
  background-image: url(../../background/third.png);
}

main div.th-block div.flex-rooms a:nth-child(4) {
  @include rooms;
  background-image: url(../../background/fours.png);
  margin: 0 0 58px 60px;
}

main div.th-block div.flex-rooms a p {
  color: $text-color;
  font-family: inherit;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main div.th-block div.flex-rooms a button {
  @include buttons;
  font-size: 24px;
  font-weight: 500;
  padding: 24px 52px;
  width: 244px;
  height: 76px;
  margin: 19px 0 58px;
}

main div.fr-block {
  width: 1319px;
  height: 277px;
  margin: 0 auto 62px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main div.fr-block p.get-room {
  color: #957554;
  font-family: inherit;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main div.fr-block button {
  width: 418px;
  height: 76px;
  @include buttons;
  font-size: 24px;
  font-weight: 500;
  padding: 24px 150px;
}
