@mixin buttons {
  background-color: $background-color;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin rooms {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 7.48%, #000 100%),
    lightgray 50% / cover no-repeat;
}

$text-color: #fff;

$background-color: #dfaa5b;
